@charset "UTF-8";
/* CSS Document */
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}

.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

form {
    margin:0 auto;
    width:400px;
}

input, textarea {
    width:380px;
    height:30px;
    background:#ffffff;
    border:2px solid #f6f6f6;
	box-shadow:#B1ACAC;
    padding:10px;
    margin-top:5px;
    font-size:12px;
    color:##A9E2F3;
}

textarea {
    height:150px;
}

#submit {
    width:85px;
    height:35px;
    border:#E0DCD3;
	color:#ffffff;
	margin-top:20px;
    cursor:pointer;
}
