.version.consulting /* version checker */
{
	color: #0000E5;
	background-color: #07D31E;
}

@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #F5F5F5;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 880px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu3218
{
	width: 0.01px;
}

#u3218
{
	z-index: 184;
	min-height: 117px;
	padding-bottom: 4px;
}

#u3219
{
	z-index: 185;
	width: 147px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u3218-bw
{
	z-index: 184;
	min-height: 117px;
}

#pamphletu3795
{
	z-index: 195;
	width: 0.01px;
	height: 77px;
	padding-bottom: 442px;
	margin-right: -10000px;
	left: 327px;
}

#u3803popup
{
	z-index: 196;
}

#u3803
{
	width: 314px;
	top: 122px;
}

#u3804
{
	z-index: 197;
	width: 313px;
	height: 345px;
	padding-right: 1px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#buttonu3805
{
	z-index: 198;
	width: 313px;
}

#buttonu3805:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3808-4
{
	z-index: 199;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 97px;
}

#buttonu3805:hover #u3808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#u3806
{
	z-index: 203;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3805:hover #u3806
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3805:active #u3806
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3809
{
	z-index: 212;
	width: 313px;
}

#buttonu3805.ButtonSelected,#buttonu3809:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3812-4
{
	z-index: 213;
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 81px;
}

#buttonu3809:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#buttonu3809:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#buttonu3809.ButtonSelected #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#u3810
{
	z-index: 217;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3805.ButtonSelected #u3806,#buttonu3809:hover #u3810
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3809:active #u3810
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3817
{
	z-index: 226;
	width: 313px;
	padding-bottom: 1px;
	margin-top: 1px;
}

#buttonu3817:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3818-4
{
	z-index: 227;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 96px;
}

#buttonu3805.ButtonSelected #u3808-4,#buttonu3817:hover #u3818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#buttonu3817.ButtonSelected #u3818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#u3819
{
	z-index: 231;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3809.ButtonSelected #u3810,#buttonu3817:hover #u3819
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3817:active #u3819
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3813
{
	z-index: 233;
	width: 313px;
}

#buttonu3809.ButtonSelected,#buttonu3813:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3814-4
{
	z-index: 234;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 97px;
}

#buttonu3813:hover #u3814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 15px -10000px 0px 0px;
}

#buttonu3813.ButtonSelected #u3814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 15px -10000px 0px 0px;
}

#u3815
{
	z-index: 238;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3817.ButtonSelected #u3819,#buttonu3813:hover #u3815
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3813:active #u3815
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3831
{
	z-index: 205;
	width: 313px;
}

#buttonu3813.ButtonSelected,#buttonu3831:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3831.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3832-4
{
	z-index: 206;
	width: 153px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 80px;
}

#buttonu3831:hover #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 153px;
	margin: 18px -10000px 0px 0px;
}

#buttonu3831.ButtonSelected #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 153px;
	margin: 18px -10000px 0px 0px;
}

#u3833
{
	z-index: 210;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3813.ButtonSelected #u3815,#buttonu3831:hover #u3833
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3831:active #u3833
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827
{
	z-index: 219;
	width: 313px;
	margin-top: 1px;
}

#buttonu3817.ButtonSelected,#buttonu3827:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu3827.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3830-4
{
	z-index: 220;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 96px;
}

#buttonu3827:hover #u3830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 16px -10000px 0px 0px;
}

#buttonu3827.ButtonSelected #u3830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 16px -10000px 0px 0px;
}

#u3828
{
	z-index: 224;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3831.ButtonSelected #u3833,#buttonu3827:hover #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827:active #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827.ButtonSelected #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u3836
{
	z-index: 240;
	width: 39px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 258px;
}

#u3837
{
	width: 72px;
	padding-bottom: 44px;
	top: -45px;
	left: -16px;
}

#u3837.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3838
{
	z-index: 242;
	width: 39px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 16px;
}

#u3837.PamphletThumbSelected #u3838
{
	width: 39px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
}

#u3838_img
{
	margin-right: -1px;
}

#u3798
{
	width: 72px;
	padding-bottom: 30px;
	left: 241px;
}

#u3799
{
	z-index: 245;
	width: 60px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 6px;
}

#u4273-5
{
	z-index: 3;
	width: 550px;
	min-height: 86px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 19px;
	line-height: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	top: -374px;
	margin-bottom: -92px;
	position: relative;
}

#ppamphletu4274
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -288px;
}

#pamphletu4274
{
	z-index: 8;
	width: 0.01px;
	height: 225px;
	padding-bottom: 774px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u4288
{
	position: absolute;
	width: 642px;
	background-color: transparent;
}

#u4288popup
{
	z-index: 9;
}

#u4299
{
	z-index: 10;
	width: 641px;
	height: 838px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-right: 1px;
	padding-bottom: 141px;
	margin-right: -10000px;
	position: relative;
}

#u4306
{
	z-index: 11;
	width: 405px;
	height: 228px;
	border-color: #000000;
	margin-left: 216px;
	position: relative;
	background: transparent url("../../images/itdmx-consulting-01m.jpg") no-repeat center center;
}

#u4300-4
{
	z-index: 13;
	width: 391px;
	min-height: 38px;
	background-color: transparent;
	color: #203478;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 212px;
	margin-top: 26px;
	position: relative;
}

#u4305
{
	z-index: 43;
	width: 641px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-top: 9px;
	position: relative;
}

#u4308-6
{
	z-index: 52;
	width: 504px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 53px;
}

#u4304-4
{
	z-index: 44;
	width: 346px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	margin-left: 31px;
	margin-top: 14px;
	position: relative;
}

#u4307-13
{
	z-index: 17;
	width: 572px;
	min-height: 124px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 31px;
	margin-top: 3px;
	position: relative;
}

#ppu4302-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 17px;
}

#pu4302-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u4302-4
{
	z-index: 48;
	width: 342px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u4303-13
{
	z-index: 30;
	width: 336px;
	min-height: 259px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 4px;
	position: relative;
}

#u4301
{
	z-index: 12;
	width: 242px;
	height: 292px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 349px;
	background: transparent url("../../images/itdmx-consulting-02m.jpg") no-repeat center center;
}

#u4289
{
	z-index: 58;
	width: 641px;
	height: 960px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-right: 1px;
	padding-bottom: 19px;
	margin-right: -10000px;
	position: relative;
}

#u4295
{
	z-index: 59;
	width: 404px;
	height: 227px;
	border-color: #000000;
	margin-left: 217px;
	position: relative;
	background: transparent url("../../images/itdmx-hr-01m.jpg") no-repeat center center;
}

#u4290-4
{
	z-index: 61;
	width: 405px;
	min-height: 38px;
	background-color: transparent;
	color: #203478;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 217px;
	margin-top: 15px;
	position: relative;
}

#u4291
{
	z-index: 98;
	width: 641px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	margin-top: 16px;
	position: relative;
}

#u4293-8
{
	z-index: 107;
	width: 550px;
	min-height: 34px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 53px;
}

#u4293-2
{
	font-weight: 700;
}

#u4292-4
{
	z-index: 99;
	width: 346px;
	min-height: 28px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	margin-left: 29px;
	margin-top: 8px;
	position: relative;
}

#u4294-16
{
	z-index: 65;
	width: 572px;
	min-height: 172px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 31px;
	margin-top: 8px;
	position: relative;
}

#u4296-4
{
	z-index: 103;
	width: 342px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	margin-left: 29px;
	margin-top: 9px;
	position: relative;
}

#pu4298-17
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u4298-17
{
	z-index: 81;
	width: 333px;
	min-height: 259px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4297
{
	z-index: 60;
	width: 253px;
	height: 345px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 340px;
	background: transparent url("../../images/itdmx-hr-02m.jpg") no-repeat center center;
}

#u4309
{
	z-index: 115;
	width: 641px;
	height: 946px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-style: none;
	border-color: transparent;
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-right: 1px;
	padding-bottom: 33px;
	margin-right: -10000px;
	position: relative;
}

#u4316
{
	z-index: 116;
	width: 386px;
	height: 229px;
	border-color: #000000;
	margin-left: 216px;
	position: relative;
	background: transparent url("../../images/itdmx-travel-01m.jpg") no-repeat center center;
}

#u4312-4
{
	z-index: 118;
	width: 388px;
	min-height: 38px;
	background-color: transparent;
	color: #203478;
	text-align: left;
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 216px;
	margin-top: 24px;
	position: relative;
}

#u4314
{
	z-index: 133;
	width: 641px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-top: 9px;
	position: relative;
}

#u4311-6
{
	z-index: 138;
	width: 550px;
	min-height: 46px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: abel, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 53px;
}

#u4310-4
{
	z-index: 134;
	width: 327px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	margin-left: 31px;
	margin-top: 17px;
	position: relative;
}

#u4315-11
{
	z-index: 122;
	width: 572px;
	min-height: 206px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 31px;
	margin-top: 3px;
	position: relative;
}

#u4313
{
	z-index: 117;
	width: 592px;
	height: 310px;
	border-color: #000000;
	margin-left: 30px;
	margin-top: 15px;
	position: relative;
	background: transparent url("../../images/itdmx-travel-02m.jpg") no-repeat center center;
}

#u4281
{
	z-index: 144;
	width: 146px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 24px;
}

#u4282
{
	position: absolute;
	width: 153px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #DEDEDE;
	background-color: #7F7F7F;
	padding-bottom: 24px;
	top: -14px;
	left: -3px;
}

#u4282:hover
{
	border-color: #DEDEDE;
	background-color: #0071BC;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u4283-4
{
	z-index: 146;
	width: 144px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 5px;
}

#u4282:hover #u4283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 144px;
	margin: 14px -10000px 0px 0px;
}

#u4282.PamphletThumbSelected #u4283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 144px;
	margin: 14px -10000px 0px 0px;
}

#u4282.PamphletThumbSelected #u4283-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: center;
	line-height: 1;
	font-weight: normal;
}

#u4284
{
	position: absolute;
	width: 153px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #DEDEDE;
	background-color: #7F7F7F;
	padding-bottom: 8px;
	top: 69px;
	left: -3px;
}

#u4284:hover
{
	border-color: #DEDEDE;
	background-color: #0071BC;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u4285-6
{
	z-index: 151;
	width: 143px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#u4284:hover #u4285-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 143px;
	margin: 7px -10000px 0px 0px;
}

#u4284.PamphletThumbSelected #u4285-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 143px;
	margin: 7px -10000px 0px 0px;
}

#u4284.PamphletThumbSelected #u4285-6 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 23px;
	text-align: center;
	line-height: 1;
	font-weight: normal;
}

#u4286
{
	position: absolute;
	width: 153px;
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #DEDEDE;
	background-color: #7F7F7F;
	padding-bottom: 22px;
	top: 152px;
	left: -3px;
}

#u4286:hover
{
	border-color: #DEDEDE;
	background-color: #0071BC;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u4282.PamphletThumbSelected,#u4284.PamphletThumbSelected,#u4286.PamphletThumbSelected
{
	-pie-box-shadow: 6px 6px 8px #B2B2B2;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #999999;
	background-color: #203478;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u4287-4
{
	z-index: 158;
	width: 144px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	line-height: 23px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 3px;
}

#u4286:hover #u4287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 144px;
	margin: 16px -10000px 0px 0px;
}

#u4286.PamphletThumbSelected #u4287-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 144px;
	margin: 16px -10000px 0px 0px;
}

#u4286.PamphletThumbSelected #u4287-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 23px;
	text-align: center;
	line-height: 1;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4410
{
	z-index: 163;
	width: 590px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u4272
{
	z-index: 2;
	min-height: 563px;
	-pie-box-shadow: 8px 0px 8px #B2B2B2;
	box-shadow: 8px 0px 8px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	padding: 57px 20px 23px 28px;
}

#u4427-4
{
	z-index: 180;
	width: 573px;
	min-height: 37px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 26px;
	letter-spacing: 3px;
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u4409
{
	z-index: 162;
	width: 590px;
	height: 1px;
	border-color: #000000;
	background-color: #7F7F7F;
	margin-left: 2px;
	margin-top: 23px;
	position: relative;
}

#pu4425
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 20px;
	position: relative;
}

#u4425
{
	z-index: 178;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4413
{
	z-index: 166;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#pu4419
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 26px;
	position: relative;
}

#u4419
{
	z-index: 172;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4417
{
	z-index: 170;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#pu4415
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 31px;
	position: relative;
}

#u4415
{
	z-index: 168;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4421
{
	z-index: 174;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#pu4423
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 30px;
	position: relative;
}

#u4423
{
	z-index: 176;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4411
{
	z-index: 164;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 275px;
}

#u4272-bw
{
	z-index: 2;
	min-height: 563px;
	margin-top: -24px;
	margin-bottom: -24px;
}

#u3221
{
	z-index: 187;
	min-height: 59px;
	padding-bottom: 14px;
}

#u3222-6
{
	z-index: 188;
	width: 254px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 28px;
}

#buttonu3223
{
	z-index: 194;
	width: 201px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 405px;
}

#buttonu3223:hover
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu3223.ButtonSelected
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u3221-bw
{
	z-index: 187;
	min-height: 59px;
}

body
{
	position: relative;
	min-width: 640px;
}

#page .verticalspacer
{
	clear: both;
}

