.version.venta /* version checker */
{
	color: #000013;
	background-color: #E1AC99;
}

@-ms-viewport
{
	width: 640px;
}

@-webkit-viewport
{
	width: 640px;
}

@-o-viewport
{
	width: 640px;
}

@-moz-viewport
{
	width: 640px;
}

@viewport
{
	width: 640px;
}

.html
{
	background-color: #F5F5F5;
}

#page
{
	z-index: 1;
	width: 640px;
	min-height: 879.9141868815318px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu3218
{
	width: 0.01px;
}

#u3218
{
	z-index: 52;
	min-height: 117px;
	padding-bottom: 4px;
}

#u3219
{
	z-index: 53;
	width: 147px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u3218-bw
{
	z-index: 52;
	min-height: 117px;
}

#pamphletu3795
{
	z-index: 63;
	width: 0.01px;
	height: 77px;
	padding-bottom: 442px;
	margin-right: -10000px;
	left: 327px;
}

#u3803popup
{
	z-index: 64;
}

#u3803
{
	width: 314px;
	top: 122px;
}

#u3804
{
	z-index: 65;
	width: 313px;
	height: 345px;
	padding-right: 1px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#buttonu3805
{
	z-index: 66;
	width: 313px;
}

#buttonu3805:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3808-4
{
	z-index: 67;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 97px;
}

#buttonu3805:hover #u3808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#u3806
{
	z-index: 71;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3805:hover #u3806
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3805:active #u3806
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3809
{
	z-index: 80;
	width: 313px;
}

#buttonu3805.ButtonSelected,#buttonu3809:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3812-4
{
	z-index: 81;
	width: 151px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 81px;
}

#buttonu3809:hover #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#buttonu3809:active #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#buttonu3809.ButtonSelected #u3812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 151px;
	margin: 20px -10000px 0px 0px;
}

#u3810
{
	z-index: 85;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3805.ButtonSelected #u3806,#buttonu3809:hover #u3810
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3809:active #u3810
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3817
{
	z-index: 94;
	width: 313px;
	padding-bottom: 1px;
	margin-top: 1px;
}

#buttonu3817:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3818-4
{
	z-index: 95;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 96px;
}

#buttonu3805.ButtonSelected #u3808-4,#buttonu3817:hover #u3818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#buttonu3817.ButtonSelected #u3818-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 17px -10000px 0px 0px;
}

#u3819
{
	z-index: 99;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3809.ButtonSelected #u3810,#buttonu3817:hover #u3819
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3817:active #u3819
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3813
{
	z-index: 101;
	width: 313px;
}

#buttonu3809.ButtonSelected,#buttonu3813:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3814-4
{
	z-index: 102;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 97px;
}

#buttonu3813:hover #u3814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 15px -10000px 0px 0px;
}

#buttonu3813.ButtonSelected #u3814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 15px -10000px 0px 0px;
}

#u3815
{
	z-index: 106;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3817.ButtonSelected #u3819,#buttonu3813:hover #u3815
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3813:active #u3815
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3831
{
	z-index: 73;
	width: 313px;
}

#buttonu3813.ButtonSelected,#buttonu3831:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3831.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3832-4
{
	z-index: 74;
	width: 153px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 80px;
}

#buttonu3831:hover #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 153px;
	margin: 18px -10000px 0px 0px;
}

#buttonu3831.ButtonSelected #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 153px;
	margin: 18px -10000px 0px 0px;
}

#u3833
{
	z-index: 78;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3813.ButtonSelected #u3815,#buttonu3831:hover #u3833
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3831:active #u3833
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827
{
	z-index: 87;
	width: 313px;
	margin-top: 1px;
}

#buttonu3817.ButtonSelected,#buttonu3827:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu3827.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3830-4
{
	z-index: 88;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 96px;
}

#buttonu3827:hover #u3830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 16px -10000px 0px 0px;
}

#buttonu3827.ButtonSelected #u3830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 16px -10000px 0px 0px;
}

#u3828
{
	z-index: 92;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3831.ButtonSelected #u3833,#buttonu3827:hover #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827:active #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3827.ButtonSelected #u3828
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u3836
{
	z-index: 108;
	width: 39px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 258px;
}

#u3837
{
	width: 72px;
	padding-bottom: 44px;
	top: -45px;
	left: -16px;
}

#u3837.PamphletThumbSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3838
{
	z-index: 110;
	width: 39px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 16px;
}

#u3837.PamphletThumbSelected #u3838
{
	width: 39px;
	min-height: 0px;
	margin: 45px -10000px 0px 0px;
}

#u3838_img
{
	margin-right: -1px;
}

#u3798
{
	width: 72px;
	padding-bottom: 30px;
	left: 241px;
}

#u3799
{
	z-index: 113;
	width: 60px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 6px;
}

#u4160-6
{
	z-index: 3;
	width: 550px;
	min-height: 32px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: center;
	font-size: 19px;
	line-height: 23px;
	font-family: abel, sans-serif;
	font-weight: 400;
	margin-left: 51px;
	top: -377px;
	margin-bottom: -46px;
	position: relative;
}

#u4160-2
{
	font-weight: 700;
}

#pu4159
{
	width: 0.01px;
	margin-top: -309px;
}

#u4159
{
	z-index: 2;
	min-height: 568px;
	-pie-box-shadow: 8px 0px 8px #B2B2B2;
	box-shadow: 8px 0px 8px rgba(0,0,0,0.3);
	background-color: #FFFFFF;
	padding: 30px 39px 29px 51px;
}

#u4164-4
{
	z-index: 17;
	width: 408px;
	min-height: 37px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 26px;
	letter-spacing: 3px;
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	margin-left: 65px;
	position: relative;
}

#u4163-6
{
	z-index: 11;
	width: 550px;
	min-height: 206px;
	background-color: transparent;
	color: #282828;
	text-align: justify;
	font-size: 16px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-top: 27px;
	position: relative;
}

#u4161
{
	z-index: 9;
	width: 480px;
	background-color: transparent;
	margin-left: 29px;
	margin-top: 22px;
	position: relative;
}

#u4159-bw
{
	z-index: 2;
	min-height: 568px;
}

#u4165
{
	z-index: 21;
	width: 139px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 51px;
}

#u4166
{
	z-index: 22;
	width: 154px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 447px;
}

#pu4170-4
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: 27px;
}

#u4170-4
{
	z-index: 43;
	width: 290px;
	min-height: 39px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	line-height: 26px;
	letter-spacing: 3px;
	font-size: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#u4171
{
	z-index: 47;
	width: 164px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u4172
{
	z-index: 48;
	width: 172px;
	height: 2px;
	border-color: #000000;
	background-color: #203478;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 378px;
}

#u4168-16
{
	z-index: 23;
	width: 547px;
	min-height: 185px;
	background-color: transparent;
	color: #282828;
	text-align: justify;
	font-size: 16px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	margin-left: 54px;
	margin-top: 17px;
	position: relative;
}

#u4163-2,#u4168-2
{
	color: #203478;
	font-weight: bold;
}

#u4168-6,#u4168-8,#u4168-10,#u4168-12,#u4168-14
{
	padding-left: 13px;
}

#pu4169-4
{
	width: 0.01px;
	margin-left: 51px;
	margin-top: 25px;
}

#u4169-4
{
	z-index: 39;
	width: 255px;
	min-height: 208px;
	background-color: transparent;
	color: #282828;
	text-align: justify;
	font-size: 16px;
	line-height: 29px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u4174
{
	z-index: 50;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 270px;
}

#u4173
{
	z-index: 49;
	width: 13px;
	height: 47px;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

.ie #u4173
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3221
{
	z-index: 55;
	min-height: 59px;
	padding-bottom: 14px;
}

#u3222-6
{
	z-index: 56;
	width: 254px;
	min-height: 31px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 28px;
}

#buttonu3223
{
	z-index: 62;
	width: 201px;
	height: 42px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 405px;
}

#buttonu3223:hover
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu3223.ButtonSelected
{
	width: 201px;
	height: 42px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u3221-bw
{
	z-index: 55;
	min-height: 59px;
}

body
{
	position: relative;
	min-width: 640px;
}

#page .verticalspacer
{
	clear: both;
}

